<div class="col-md-3 product">
    <div class="card" onmouseover="show_inventory('#inv{{ product.id }}')" onmouseout="hide_inventory('#inv{{ product.id }}')">
        {% if product.img_url != None %}
        <img src="{{ product.img_url }}" style="width:100%"><br>
        {% else %}
        <img src="{{ user.avatar(128) }}"><br>
        {% endif %}
        <h3 id="product{{ product.id }}" product-id="{{ product.id }}">{{ product.name }}</h3>
        <p class="price">${{ product.price }}</p>
        <p style="display:none;" id="inv{{ product.id }}">
        {% for inv in inventory %}
            {% if inv.product_id == product.id %}Current Inventory Level: {{ inv.quantity }}{% endif %}
        {% endfor %}
        </p>
        {% if user == current_user %}
        <div class="row">
            <div class="col-md-12">
                <p><input type="number" class="form-control" id="cost{{ product.id }}" placeholder="Enter Manual Price"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p><input type="number" class="form-control" id="quantity{{ product.id }}" placeholder="Enter Manual Quantity"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p><input type="textarea" class="form-control" id="desc{{ product.id }}" placeholder="Enter more details"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p><a href="javascript:post_sale(
                                '#product{{ product.id }}',
                                '#sale{{ product.id }}',
                                '#cost{{ product.id }}',
                                '#quantity{{ product.id }}',
                                '#inv{{ product.id }}',
                                '#desc{{ product.id }}');">
                    <button class="btn btn-success">
                        {{ _('Record Sale') }}
                    </button>
                </a></p>
            </div>
        </div>
        <div class="row">
            <span id="sale{{ product.id }}"></span>
        </div>
    </div>
    {% endif %}
</div>