{% extends 'bootstrap/base.html' %}
{% block title %}
    {% if title %}{{ title }} - Cash & Associates{% else %}{{ _('Welcome to Cash & Associates') }}{% endif %}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/dark-mode.css')}}">
{{super()}}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
{% endblock %}

{% block navbar %}
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.landing_page') }}">Cash & Associates</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">{{ _('Home') }}</a></li>
                    {% if current_user.is_anonymous %}
                    {% else %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Management Tools
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('main.add_product') }}">Add Product</a></li>
                            <li><a href="{{ url_for('main.add_transaction') }}">Add Transaction</a></li>
                            {% if current_user.access_level == 'manager' %}
                            <li><a href="{{ url_for('main.set_employees') }}">{{ _('Add Employee to Company') }}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Job Trackers
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('main.jobs') }}">New Job</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ url_for('main.point_of_sale') }}">{{ _('Point of Sale') }}</a></li>
                    {% endif %}
                    {% if current_user.access_level in ('manager','temp') %}
                    <li><a href="{{ url_for('main.transaction_history') }}">{{ _('Dashboard') }}</a></li>
                    {% endif %}
                    {% if current_user.access_level == 'admin' %}
                    <li><a href="{{ url_for('main.add_category') }}">{{ _('Add Category') }}</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('main.tutorials') }}">{{ _('Tutorials') }}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('auth.login') }}">{{ _('Login') }}</a></li>
                    {% else %}
                    <li><a href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Profile') }}</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block right_sidebar %}

{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        function post_sale(sourceElem, destElem, costElem, quantElem, invElem) {
            $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
            $.post('/post_sale', {
                text: $(sourceElem).text(),
                cost: $(costElem).val(),
                quantity: $(quantElem).val(),
                product_id: $(sourceElem).attr("product-id")
            }).done(function(response) {
                $(destElem).text(response['text'])
                $(invElem).text(`Current Inventory Level: ${response['quantity']}`)
            }).fail(function() {
                $(destElem).text("{{ _('Error: Could not contact server.') }}");
            });
        }
        function add_hunting_entry(destElem, jobId) {
            $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
            testing_array_pre = ['onemeat', 'twomeat', 'smpelt', 'medpelt', 'lgpelt', 'coll'];
            testing_array = [];
            for (i=0;i<testing_array_pre.length;i++) {
                testing_array.push(testing_array_pre[i]+String(jobId));
            }
            console.log(jobId);
            output_obj = {
                coll: 0,
                meat: 0,
                smpelt: 0,
                medpelt: 0,
                lgpelt: 0,
                job_id: jobId
            }
            for (i=0;i<testing_array.length;i++) {
                test_elem = document.getElementById(testing_array[i]);
                if (test_elem.classList.contains('btn-success')) {
                     output_item = testing_array[i].replace(/[0-9]/g, '');
                     console.log(output_item);
                     if (output_item === 'onemeat') {
                        output_obj['meat'] = 1
                     } else if (output_item === 'twomeat') {
                        output_obj['meat'] = 2
                     } else {
                        output_obj[output_item] = 1
                     }
                }
            }
            console.log(output_obj);
            $.post('/jobs/hunting/tracker/add_entry', output_obj)
            .done(function(response) {
                $(`#${destElem}`).text(response['text'])
            }).fail(function() {
                $(`#${destElem}`).text("{{ _('Error: Could not contact server.') }}");
            });
        }
        function set_class_danger(elem_id) {
            other_elem = $(elem_id);
            other_elem.removeClass('btn-success');
            other_elem.addClass('btn-danger');
        }
        function set_active(elem, jobID) {
            change_elem = document.getElementById(elem);
            jq_elem = $('#' + elem);
            console.log(elem);
            console.log(change_elem.classList.contains('btn-danger'));
            if (elem === 'onemeat' + String(jobID) && change_elem.classList.contains('btn-danger')) {
                set_class_danger('#twomeat' + String(jobID));
            } else if (elem === 'twomeat'  + String(jobID) && change_elem.classList.contains('btn-danger')) {
                set_class_danger('#onemeat' + String(jobID));
            } else if (elem === 'smpelt' + String(jobID)) {
                set_class_danger('#medpelt' + String(jobID));
                set_class_danger('#lgpelt' + String(jobID));
            } else if (elem === 'medpelt' + String(jobID)) {
                set_class_danger('#smpelt' + String(jobID));
                set_class_danger('#lgpelt' + String(jobID));
            } else if (elem === 'lgpelt' + String(jobID)) {
                set_class_danger('#smpelt' + String(jobID));
                set_class_danger('#medpelt' + String(jobID));
            }
            if (change_elem.classList.contains('btn-danger')) {
                jq_elem.removeClass('btn-danger');
                jq_elem.addClass('btn-success');
            } else {
                jq_elem.removeClass('btn-success');
                jq_elem.addClass('btn-danger');
            }
        }       
        function create_graph(data){
            data.dates.forEach(d => {
                d.formatted_date = d3.timeParse("%Y-%m-%d")(d.date)
            });
            data.dates.sort((a,b) => (a.formatted_date > b.formatted_date ? 1: -1))
            // set the dimensions and margins of the graph
            var margin = {top: 10, right: 30, bottom: 30, left: 60},
                width = 460 - margin.left - margin.right,
                height = 400 - margin.top - margin.bottom;

            // append the svg object to the body of the page
            d3.select("#graph1").selectAll("svg").remove();
            var svg = d3.select("#graph1")
            .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
            .append("g")
                .attr("transform",
                    "translate(" + margin.left + "," + margin.top + ")");


            // Add X axis --> it is a date format
            var x = d3.scaleTime()
            .domain(d3.extent(data.dates, function(d) { return d.formatted_date; }))
            .range([ 0, width ]);
            svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x));

            // Add Y axis
            var y = d3.scaleLinear()
            .domain([0, d3.max(data.dates, function(d) { return +d.sum; })])
            .range([ height, 0 ]);
            svg.append("g")
            .call(d3.axisLeft(y));

            var bisect = d3.bisector(function(d) { return d.formatted_date; }).right;

            var focus = svg
                .append('g')
                .append('circle')
                .style("fill", "none")
                .attr("stroke", "black")
                .attr('r', 8.5)
                .style("opacity", 0)

            var focusText = svg
                .append('g')
                .append('text')
                .style("opacity", 0)
                .style("font", "10px sans-serif")

            // Add the line
            svg.append("path")
            .datum(data.dates)
            .attr("fill", "none")
            .attr("stroke", "steelblue")
            .attr("stroke-width", 1.5)
            .attr("d", d3.line()
                .x(function(d) { return x(d.formatted_date) })
                .y(function(d) { return y(d.sum) })
                )

            svg
                .append('rect')
                .style("fill", "none")
                .style("pointer-events", "all")
                .attr('width', width)
                .attr('height', height)
                .on('mouseover', mouseover)
                .on('mousemove', mousemove)
                .on('mouseout', mouseout);

            function mouseover() {
                focus.style("opacity", 1)
                focusText.style("opacity",1)
            }

            function mousemove() {
                // recover coordinate we need
                var x0 = x.invert(d3.pointer(event)[0]);
                var i = bisect(data.dates, x0, 1);
                selectedData = data.dates[i-1]
                focus
                .attr("cx", x(selectedData.formatted_date))
                .attr("cy", y(selectedData.sum))
                focusText
                .html(`Revenue: $${selectedData.sum}`)
                .attr("x", x(selectedData.formatted_date)+15)
                .attr("y", y(selectedData.sum))
                }
            function mouseout() {
                focus.style("opacity", 0)
                focusText.style("opacity", 0)
            }
        }

        var formatter = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'USD',
            });

        function setdarkmode() {
            $('html').attr('data-theme','dark')
            $('body').attr('data-theme','dark')
            $('nav').attr('data-theme','dark')
        }

        function show_full_table() {
            $('.container').addClass('container-fluid')
            $('.container').removeClass('container')
            $('#tr-history tr').removeClass('hidden')
            $('#see-more').addClass('hidden')
            $('#hide-rows').html('<a href="javascript:hide_extra_rows();">Hide Rows...</a>')
        }

        function hide_extra_rows() {
            $('.container-fluid').addClass('container')
            $('.container-fluid').removeClass('container-fluid')
            $('.extra-row').addClass('hidden')
            $('#see-more').removeClass('hidden')
            $('#hide-rows').html('')
        }

        function show_inventory(elem){
            $(elem).css('display', 'block');
        }
        function hide_inventory(elem){
            $(elem).css('display', 'none');
        }
        setdarkmode();
    </script>
{% endblock %}