{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Changelogs</h1>
    <h3>August 4th, 2021</h3>
    <ul>
        <li>Removed Equity transactions to simplify recordkeeping.</li>
        <li>Remaining cash balance will now be shown instead.</li>
        <li>Business managers will be able to see transactions of all employees.</li>
    </ul>
    <h3>August 3rd, 2021</h3>
    <ul>
        <li>Initial steps in managers being able to manage employees and associate revenue with them.</li>
    </ul>
    <h3>August 2nd, 2021</h3>
    <ul>
        <li>Created groundwork for companies to have multiple employees, each with individual account.</li>
        <li>Linking employees to a company is now possible.</li>
    </ul>
    <h3>August 1st, 2021</h3>
    <ul>
        <li>Products can be added to be tracked on point of sale (PoS) system.</li>
        <li>Products can be sold at a price other than default using PoS page.</li>
        <li>Transactions are set up to record expenses, revenue, and equity transactions.</li>
        <li>Basic graphing for transactions over time. Still needs work to be reliable.</li>
    </ul>
{% endblock %}