{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Changelogs</h1>
    <h3>August 1st, 2021</h3>
    <ul>
        <li>Products can be added to be tracked on point of sale (PoS) system.</li>
        <li>Products can be sold at a price other than default using PoS page.</li>
        <li>Transactions are set up to record expenses, revenue, and equity transactions.</li>
        <li>Basic graphing for transactions over time. Still needs work to be reliable.</li>
    </ul>
{% endblock %}