{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>
    {% if revenue|length > 0 %}
    <div class="row">
        <div class="col-md-6">
            <h3>Total sales events:</h3> 
            <h4 class="sales">{{ revenue_info['total']|safe }}</h4>
        </div>
        <div class="col-md-6">
            <h3>Total revenue ($):</h3> 
            <h4 class="{% if 0 >= 0 %} cash {% else %} debt {% endif %}">${{ revenue_info['sum']|safe }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Total expense events:</h3> 
            <h4 class="sales">{{ expense_info['total']|safe }}</h4>
        </div>
        <div class="col-md-6">
            <h3>Total expenses ($):</h3> 
            <h4 class="{% if 0 >= 0 %} debt {% else %} cash {% endif %}">${{ expense_info['sum']|safe }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <h3>Total equity ($):</h3> 
            <h4 class="{% if balance >= 0 %} cash {% else %} debt {% endif %}">${{ balance }}</h4>
        </div>
    </div>
    <div id="graph1" class="graph">
        {% if revenue_info %}
            <a href="javascript:create_graph({{ revenue_info|safe }});">
                <button class="btn btn-primary">Create Graph</button>
            </a>
        {% endif %}
    </div>
    <h2>Transaction History</h2>
        {% for transaction in transactions %}
            {% include '_transaction.html' %}
        {% endfor %}
    {% else %}
    <h3>Get Started</h3>
    <p>
        Welcome to the Cash & Associates accounting software! Let's get started by <a href="{{ url_for('main.add_product') }}">adding
        some of your products</a>!
    </p>
    {% include '_tutorials.html' %}
    {% endif %}
{% endblock %}