{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1 id="user" auth-id="{{ current_user.id }}"">{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>
    <h2>{{ title }}</h2>
    {% if current_user.race_lead %}
    <div class="row"><div class="col-md-12"><p id="response"></p></div></div>
    <div class="row">
        <div class="col-md-3"><a href="javascript:SetStartPosition();" role="button"><button class="btn btn-primary btn-lg">Set Starting Positions</button></a></div>
        <div class="col-md-3"><a href="javascript:SetEndPosition();" role="button"><button class="btn btn-primary btn-lg">Set Ending Positions</button></a></div>
        <div class="col-md-3"><a href="javascript:FinalizeRace();" role="button"><button class="btn btn-primary btn-lg">Finalize Race</button></a></div>
        <div id="raceresults" class="col-md-3" style="visibility: hidden;"><a href="{{ url_for('main.race_results', race_id=race.id) }}" role="button"><button class="btn btn-primary btn-lg">Race Results</button></a></div>
    </div>
    {% endif %}
    <h3>Registered Racers ({{ racers | length }})</h3>
    <ol id="racers" style="padding: 10px;">
        {% for racer in racers %}
        <li style="padding: 5px;" racer-id="{{ racer.id }}" user-id="{{ racer.user_info.id }}" car-id="{{ racer.car_info.id }}">
            <div class="row hover">
                <div class="col-md-3">
                    {% if racer.car_info.image %}
                    <img height="128px" src="{{ racer.car_info.image }}">
                    {% else %}
                    <img height="128px" src="{{ racer.car_stock.image }}">
                    {% endif %}
                </div>
                <div class="col-md-3">
                    <td>Car Class: {{ racer.car_stock.car_class }}</td>
                </div>
                <div class="col-md-3">
                    <td>Car: {{ racer.car_stock.name }}</td>
                </div>
                <div class="col-md-3">
                    <td>Name: {{ racer.user_info.username }}</td>
                </div>
            </div>
            <hr>
        </li>
        {% endfor %}
    </ol>
    <h3>DNF Section</h3>
    <ol id="dnf" style="padding: 10px;">

    </ol>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script>
    Sortable.create(racers, {
        group: {
            name: 'racers',
            put: ['dnf']
        },
        animation: 100
    });
    Sortable.create(dnf, {
        group: {
            name: 'dnf',
            put: ['racers']
        },
        animation: 100
    });
    function SetStartPosition() {
        race_info = CollectRacerPositions();
        $.ajax(
            {
                url: '/race/set_start_order' ,
                type: 'POST',
                data: JSON.stringify(race_info),
                contentType: "application/json; charset=utf-8"
            }
        )
        .done(function(response) {
            $("#response").text(response['text'])
            success_audio.play();
        })
        .fail(function() {
            $("#response").text("{{ _('Error: Could not contact server.') }}");
                fail_audio.play();
        })
    }
    function SetEndPosition() {
        race_info = CollectRacerPositions();
        $.ajax(
            {
                url: '/race/set_end_order' ,
                type: 'POST',
                data: JSON.stringify(race_info),
                contentType: "application/json; charset=utf-8"
            }
        )
        .done(function(response) {
            $("#response").text(response['text'])
            success_audio.play();
        })
        .fail(function() {
            $("#response").text("{{ _('Error: Could not contact server.') }}");
                fail_audio.play();
        })
    }
    function FinalizeRace() {
        race_info = CollectRacerPositions();
        $.ajax(
            {
                url: '/race/finalize_race' ,
                type: 'POST',
                data: JSON.stringify(race_info),
                contentType: "application/json; charset=utf-8"
            }
        )
        .done(function(response) {
            $("#response").text(response['text'])
            success_audio.play();
            $('#')
        })
        .fail(function() {
            $("#response").text("{{ _('Error: Could not contact server.') }}");
                fail_audio.play();
        })
    }
    function CollectRacerPositions() {
        racer_order = [];
        $("#racers li").each(function(index, elem) {
            let racer_info = $(elem);
            racer_order.push([
                parseInt(racer_info.attr('racer-id')), 
                parseInt(racer_info.attr('user-id')),
                parseInt(racer_info.attr('car-id'))
            ]);
        });
        race_info = {
            racer_order: racer_order,
            auth_id: parseInt($("#user").attr('auth-id'))
        }
        return race_info;
    }
</script>
{% endblock %}