{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block metas %}
{{ super() }}

{% endblock %}

{% block app_content %}
    <h1>{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>
    <span style="visibility: hidden;" id="raceid" race-id="{{ race.id }}"></span>
    <h2>{{ title }} | {{ race.highest_class }} Class Vehicles | {% if race.track_info.lap_race %} {{ race.laps }} Laps {% else %} Sprint {% endif %}</h2>
    <div class="row">
        <div class="col-md-6">
            <a href="{{ race.track_info.track_map}}" target="_blank"><img width="100%" src="{{ race.track_info.track_map }}"></a>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    {% if race.track_info.embed_link %}
                    <iframe width="560" height="315" src="{{ race.track_info.embed_link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <table class="table">
                    <tr>
                        <td scope="col"><h3>{{ race.track_info.name }} - Top Racer</h3></td>
                        <td></td>
                    </tr>
                    <tr>
                        {% if top_racer %}
                        <td><img src="{{ top_racer.avatar(128) }}"></td>
                        <td>
                            <table class="table">
                                <tr>
                                    <th>Name</th>
                                    <th>Wins</th>
                                </tr>
                                <tr>
                                    <td>{{ top_racer.username }}</td>
                                    <td>{{ racer_wins }}</td>
                                </tr>
                            </table>
                        </td>
                        {% else %}
                        <td><h4>This track doesn't have any records yet!</h4></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td scope="col"><h3>{{ race.track_info.name }} - Top Car</h3></td>
                        <td></td>
                    </tr>
                    <tr>
                        {% if top_car %}
                        <td><img src="{{ top_car.image }}" height="128px"></td>
                        <td>
                            <table class="table">
                                <tr>
                                    <th>Name</th>
                                    <th>Wins</th>
                                </tr>
                                <tr>
                                    <td>{{ top_car.name }}</td>
                                    <td>{{ car_wins }}</td>
                                </tr>
                            </table>
                        </td>
                        {% else %}
                        <td><h4>This track doesn't have any records yet!</h4></td>
                        {% endif %}
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <h3>Registered Racers ({{ racers | length }})</h3>
    <ol id="racers" style="padding: 10px;">
        {% for racer in racers %}
        <li style="padding: 5px;" racer-id="{{ racer.id }}" user-id="{{ racer.user_info.id }}" car-id="{{ racer.car_info.id }}">
            <div class="row hover">
                <div class="col-md-3">
                    {% if racer.car_info.image %}
                    <img height="128px" src="{{ racer.car_info.image }}">
                    {% else %}
                    <img height="128px" src="{{ racer.car_stock.image }}">
                    {% endif %}
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12"><h3>{{ racer.user_info.username }}</h3></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <td>Car Class: {{ racer.car_stock.car_class }}</td>
                        </div>
                        <div class="col-md-4">
                            <td>Car: {{ racer.car_stock.name }}</td>
                        </div>
                        <div class="col-md-4">
                            <td>Car Name: {{ racer.car_info.name }}</td>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Track Lap Record: {{ racer.best_lap }}</div>
                        <div class="col-md-4">Track Lap Average: {{ racer.lap_average }}</div>
                        <div class="col-md-4">Track Laps Completed: {{ racer.laps_completed }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Wins (This Track): {{ racer.track_wins }}</div>
                        <div class="col-md-4">Podiums (This Track): {{ racer.track_podiums }}</div>
                        <div class="col-md-4">Race Completions (This Track): {{ racer.track_completions }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Wins (All Tracks): {{ racer.wins }}</div>
                        <div class="col-md-4">Podiums (All Tracks): {{ racer.podiums }}</div>
                        <div class="col-md-4">Race Completions (All Tracks): {{ racer.completions }}</div>
                    </div>
                </div>
            </div>
            {% if current_user.id == racer.user_id %}
            <div class="row">
                <div class="col-md-12">
                    
                    <a href="{{ url_for('main.change_registration', race_id=race.id) }}">Leave race or edit race registration</a>
                </div>
            </div>
            {% endif %}
            <hr>
        </li>
        {% endfor %}
    </ol>
{% endblock %}

{% block scripts %}
{{ super() }}

<script>
    setInterval(function() {
        race_info = {
                race_id: $('#raceid').attr('race-id')
            }
        $.ajax(
            {
                url: '/race/check_if_finished' ,
                type: 'POST',
                data: JSON.stringify(race_info),
                contentType: "application/json; charset=utf-8"
            }
        )
        .done(function(response) {
            if (response['finalized']) {
                location.reload(true);
            }
        })
    }, 5000);
</script>

{% endblock %}