{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{ super() }}
<style>
    #display, #times {
        margin: 10px 0px;
    padding: 10px;
        border: 1px solid silver;
    font-family: monospace;
    }

    .total-time { /* total measured time */
    font-size: 30px;
    }

    .split-time { /* time of last split */
    font-size: 15px;
    }

    button {
        margin: 0px;
    padding: 5px;
    }
</style>
{% endblock %}

{% block app_content %}
    <h1 id="user" auth-id="{{ current_user.id }}"">{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>
    <h2>{{ title }}</h2>
    {% if current_user.race_lead %}
    <div class="row"><div class="col-md-12"><p id="response"></p></div></div>
    <div class="row">
        <div class="col-md-3"><a href="javascript:SetStartPosition();" role="button"><button class="btn btn-primary btn-lg">Set Starting Positions</button></a></div>
        <div class="col-md-3"><a href="javascript:SetEndPosition();" role="button"><button class="btn btn-primary btn-lg">Set Ending Positions</button></a></div>
        <div class="col-md-3"><a href="javascript:FinalizeRace();" role="button"><button class="btn btn-primary btn-lg">Finalize Race</button></a></div>
        <div id="raceresults" class="col-md-3" style="visibility: hidden;"><a href="{{ url_for('main.race_results', race_id=race.id) }}" role="button"><button class="btn btn-primary btn-lg">Race Results</button></a></div>
    </div>
    <div id="display">
        <div class="total-time">
          00:00:00.000
        </div>
    </div>
    <button class="btn btn-primary" onclick="startStopwatch();">Start</button>
    <button class="btn btn-primary" onclick="stopStopwatch();">Stop</button>
    <button class="btn btn-primary" onclick="splitTime();">Split time</button>
    <div class="row">
        <div class="col-md-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Lap Time Entry</span>
                </div>
                <input id="manualtime" placeholder="00:00:00.000" type="text" class="form-control" aria-label="Lap Time Entry">
                <button class="btn btn-primary" onclick="createLapTime();">Create Lap Time</button>
            </div>
        </div>
    </div>
    <ul id="racertimes" style="display: block;"></ul>
    {% endif %}
    <div class="row">
        <div class="col-md-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Total Prize Pool</span>
                </div>
                <input id="prizepool" placeholder="{{ (racers | length) * race.buyin }}" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            </div>
        </div>
    </div>
    <h3>Registered Racers ({{ racers | length }})</h3>
    <ol id="racers" style="padding: 10px;">
        {% for racer in racers %}
        <li style="padding: 5px;" racer-id="{{ racer.id }}" user-id="{{ racer.user_info.id }}" car-id="{{ racer.car_info.id }}">
            <div class="row hover">
                <div class="col-md-3">
                    {% if racer.car_info.image %}
                    <img height="128px" src="{{ racer.car_info.image }}">
                    {% else %}
                    <img height="128px" src="{{ racer.car_stock.image }}">
                    {% endif %}
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-3">
                            <td>Car Class: {{ racer.car_stock.car_class }}</td>
                        </div>
                        <div class="col-md-3">
                            <td>Car: {{ racer.car_stock.name }}</td>
                        </div>
                        <div class="col-md-3">
                            <td>Name: {{ racer.user_info.username }}</td>
                        </div>
                        <div class="col-md-3">
                            Lap Times:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9"></div>
                        <div class="col-md-3">
                            <ol class="racer-times" id="time_{{ racer.id }}">
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </li>
        {% endfor %}
    </ol>
    <h3>DNF Section</h3>
    <ol id="dnf" style="padding: 10px;">

    </ol>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script>
    Sortable.create(racers, {
        group: {
            name: 'racers',
            put: ['dnf']
        },
        animation: 100
    });
    Sortable.create(dnf, {
        group: {
            name: 'dnf',
            put: ['racers']
        },
        animation: 100
    });
    var racer_time_groupings = [];
    $('.racer-times').each((index, elem) => {
        racer_time_groupings.push($(elem).attr("id"));
    });
    racer_time_groupings.forEach(racer => {
        Sortable.create(document.getElementById(racer), {
            group: {
                name: `${racer}`,
                put: true,
                pull: true
            }
        });
    });
    Sortable.create(racertimes, {
        group: {
            name: 'racertimes',
            pull: true
        }
    });
    function SetStartPosition() {
        race_info = CollectRacerPositions();
        $.ajax(
            {
                url: '/race/set_start_order' ,
                type: 'POST',
                data: JSON.stringify(race_info),
                contentType: "application/json; charset=utf-8"
            }
        )
        .done(function(response) {
            $("#response").text(response['text'])
            success_audio.play();
        })
        .fail(function() {
            $("#response").text("{{ _('Error: Could not contact server.') }}");
                fail_audio.play();
        })
    }
    function SetEndPosition() {
        race_info = CollectRacerPositions();
        $.ajax(
            {
                url: '/race/set_end_order' ,
                type: 'POST',
                data: JSON.stringify(race_info),
                contentType: "application/json; charset=utf-8"
            }
        )
        .done(function(response) {
            $("#response").text(response['text'])
            success_audio.play();
        })
        .fail(function() {
            $("#response").text("{{ _('Error: Could not contact server.') }}");
                fail_audio.play();
        })
    }
    function FinalizeRace() {
        race_info = CollectRacerPositions();
        console.log(race_info);
        $.ajax(
            {
                url: '/race/finalize_race' ,
                type: 'POST',
                data: JSON.stringify(race_info),
                contentType: "application/json; charset=utf-8"
            }
        )
        .done(function(response) {
            $("#response").text(response['text'])
            success_audio.play();
            $('#raceresults').css('visibility', 'visible');
        })
        .fail(function() {
            $("#response").text("{{ _('Error: Could not contact server.') }}");
                fail_audio.play();
        })
    }
    function CollectRacerPositions() {
        racer_order = [];
        dnf_order = [];
        $("#racers").children("li").each(function(index, elem) {
            let racer_info = $(elem);
            init_lap_times = [];
            lap_time_elems = racer_info.find('.split-time')
            for (i=0; i< lap_time_elems.length; i++) {
                init_lap_times.push(convertTimeToMilliseconds(init_lap_times, i, lap_time_elems[i].innerText));
            }
            console.log('Initial Lap Times')
            console.log(init_lap_times);
            lap_times = calcLapTimes(init_lap_times);
            console.log('Calculated Lap Times')
            console.log(lap_times);
            racer_order.push([
                parseInt(racer_info.attr('racer-id')), 
                parseInt(racer_info.attr('user-id')),
                parseInt(racer_info.attr('car-id')),
                lap_times
            ]);
        });
        $("#dnf").children("li").each(function(index, elem) {
            let racer_info = $(elem);
            init_lap_times = [];
            lap_time_elems = racer_info.find('.split-time')
            for (i=0; i< lap_time_elems.length; i++) {
                init_lap_times.push(convertTimeToMilliseconds(init_lap_times, i, lap_time_elems[i].innerText));
            }
            lap_times = calcLapTimes(init_lap_times);
            dnf_order.push([
                parseInt(racer_info.attr('racer-id')), 
                parseInt(racer_info.attr('user-id')),
                parseInt(racer_info.attr('car-id')),
                lap_times
            ]);
        });

        race_info = {
            racer_order: racer_order,
            dnf_order: dnf_order,
            auth_id: parseInt($("#user").attr('auth-id')),
            prizepool: parseInt($("#prizepool").val())
        }
        return race_info;
    }

    function calculatePeriod(t1, t2) {
        var dt = t2 - t1;

        var units = [
            {name: 'milliseconds', scale: 1000},
            {name: 'seconds', scale: 60},
            {name: 'minutes', scale: 60},
            {name: 'hours', scale: 24}
        ];

        var result = { };
        result.milliseconds = dt;
        for(var i = 0; i < units.length; ++i) {
            var unit = units[i];

            var total = Math.floor(dt / unit.scale);
            var rest = dt - total * unit.scale;

            result[unit.name] = rest;

            dt = total;
        }

        result.days = dt;

        return result;
    }

    function calcLapTimes(lap_times) {
        new_lap_times = lap_times.sort((a,b) => {
            return a-b;
        });
        calced_lap_times = [];
        for (i=0; i< new_lap_times.length; i++) {
            if (i > 0) {
                calced_lap_times.push(new_lap_times[i] - calced_lap_times.slice(0,i).reduce((a, b) => a + b, 0))
            } else {
                calced_lap_times.push(new_lap_times[i])
            }
        }
        return calced_lap_times;
    }

    function convertTimeToMilliseconds(lap_times, index, timestring) {
        time_info = timestring.split(':')
        hours = time_info[0];
        minutes = time_info[1];
        secondsmillis = time_info[2];
        second_info = secondsmillis.split('.')
        seconds = second_info[0];
        milliseconds = second_info[1];        
        ms = (parseInt(hours)*3600000) + (parseInt(minutes)*60000) + (parseInt(seconds)*1000) + parseInt(milliseconds)
        return ms
    }

    function padLeft(number, length, character) {
        if(character == null)
            character = '0';

        var result = number.toString();

        for(var i = result.length; i < length; ++i) {
            result = character + result;
        }

        return result;
    }
    
    function renderTime(t1, t2) {
    	var period = calculatePeriod(t1, t2);

        var text = '';

        if (period.days) {
          text += padLeft(period.days, 2) + ' days ';
        }

        text += padLeft(period.hours, 2) + ':';
        text += padLeft(period.minutes, 2) + ':';
        text += padLeft(period.seconds, 2) + '.';
        text += padLeft(period.milliseconds, 3);

        return text;
    }

    var interval = null; // interval id
    
    var start = null; // start time
    var split = null; // split time
    
	var display = document.getElementById('display');
	var times = document.getElementById('racertimes');

    function startStopwatch() {
    	if(interval)
          	return;

      	start = new Date();
      
      	if(split) {
          	times.style.display = 'none';
          	times.innerHTML = '';
          
        	split = null;
        }
      
      	function tick() {
        	var now = new Date();
          	
          	if(split) {
            	var html = '<div class="total-time">' 
                	+ renderTime(start, now) 
                	+ '</div>'
              
              	display.innerHTML = html;
            } else {
            	var html = '<div class="total-time">' 
                	+ renderTime(start, now) 
                	+ '</div>';
              
              	display.innerHTML = html;
            }
        }
      
      	interval = setInterval(tick, 10); // once per 10 ms
    }
    
    function stopStopwatch() {
    	if(interval) {
        	clearInterval(interval);

          	interval = null;
        }
    }
    
    function createLapTime() {
        times.innerHTML += '<li class="split-time">' 
            + $('#manualtime').val()
            + '</li>';
    }

    function splitTime() {
    	if(interval) {
         	var now = new Date();

          	if (split == null) {
                times.innerHTML += '<li class="split-time">' 
                    + renderTime(start, now)
                    + '</li>';
              
            	times.style.display = 'block';
            } else {
            	times.innerHTML += '<li class="split-time">' 
                    + renderTime(start, now)
                    + '</li>';
            }
 
          	split = now;
        }
    }
</script>
{% endblock %}