{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Roadmap</h1>
    <p>The current goals of this accounting application will be updated here. Higher priority items will be higher on this list, but does not necessarily mean they will be completed first.</p>
    <ul>
        
        <li>Allow business and personal transaction distinctions on the same account.</li>
        <li>Add details to the transaction history on the home screen.</li>
        <li>Tips allowed on each order.</li>
        <li>Cart order system to show total order amount.</li>
        <li>Recurring subscriptions with invoices sent.</li>
        <li>Filters to sort by employee, etc.</li>
        <li>Spit out the data to a Google sheet for business use.</li>
        <li>Admin-side user management system for setting roles, etc.</li>
        <li>Add dashboard that shows top selling items in the city, and the average price, etc.</li>
        <li>Make transactions editable.</li>
        <li>Deleted transaction history.</li>
        <li>Make everything editable from the table itself.</li>
        <li>UI Improvements/Visual Satiety</li>
        <li>Get graphing to separate transactions by type so it's actually valuable.</li>
        <li>Get graphing to display other valuable information including cash flow.</li>
        <li><span class="completed">Individual user accounts under one business.</span><span class="date-complete"> - Completed August 3rd, 2021</span></li>
        <li><span class="completed">Create a concise transaction history for DoCL.</span><span class="date-complete"> - Completed August 12th, 2021</span></li>
        <li><span class="completed">Business presets to ensure each employee has the same point of sale setup.</span><span class="date-complete"> - Completed August 12th, 2021</span></li>
        <li><span class="completed">Business base-level products that should be listed for all employees on PoS.</span><span class="date-complete"> - Completed August 12th, 2021</span></li>
        <li><span class="completed">Inventory management.</span><span class="date-complete"> - Completed August 12th, 2021</span></li>
        <li class="invisible-element">Track who is trying to view whose profiles.</li>
    </ul>
{% endblock %}