{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Roadmap</h1>
    <p>The current goals of this accounting application will be updated here. Higher priority items will be higher on this list, but does not necessarily mean they will be completed first.</p>
    <ul>
        <li>Create a concise transaction history for DoCL.</li>
        <li>Allow business and personal transaction distinctions on the same account.</li>
        <li>Make transactions editable.</li>
        <li>Inventory management.</li>
        <li><span class="completed">Individual user accounts under one business.</span><span class="date-complete"> - Completed August 3rd, 2021</span></li>
        <li>Get graphing to separate transactions by type so it's actually valuable.</li>
        <li>Get graphing to display other valuable information including cash flow.</li>
    </ul>
{% endblock %}