{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>
    {% if transactions|length > 0 %}
    <h2>Transaction History</h2>
    <p>Total transactions: {{ transactions|length }}</p>
    <table id="tr-history" class="table table-stripeda table-hover">
        <thead>
            <tr>
                <th scope="col">Transaction Type</th>
                <th scope="col">Employee</th>
                <th scope="col">Category</th>
                <th scope="col">Transaction Name</th>
                <th scope="col">Date</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                {% if loop.index < 10 %}
                <tr class="{% if transaction.transaction_type == 'Expense' %}debt{% else %}cash{% endif %}">
                {% elif loop.index == 11 %}
                <tr id="see-more">
                    <td><a href="javascript:show_full_table();">See more...</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="extra-row hidden {% if transaction.transaction_type == 'Expense' %}debt{% else %}cash{% endif %}">
                {% else %}
                <tr class="extra-row hidden {% if transaction.transaction_type == 'Expense' %}debt{% else %}cash{% endif %}">
                {% endif %}
                    <td>{{ transaction.transaction_type }}</td>
                    <td>{{ transaction.author.username }}</td>
                    <td>{{ transaction.category }}</td>
                    <td>{{ transaction.name }}</td>
                    <td>{{ transaction.time }}</td>
                    <td>{{ transaction.product_name }}</td>
                    <td>${{ transaction.price }}</td>
                    <td>{{ transaction.quantity }}</td>
                    <td>${{ transaction.total }}</td>
                    <td>{{ transaction.details }}</td>
                </tr>
            {% endfor %}
            <thead>
                <tr class="{% if tr_info['total_type'] == 'Expense' %}debt{% else %}cash{% endif %}">
                    <th>Total</th>
                    <th id="hide-rows"></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>{{ tr_info['quantity_sum'] }}</th>
                    <th>${{ tr_info['total_sum'] }}</th>
                    <th></th>
                </tr>
            </thead>
        </tbody>
    </table>
    {% endif %}
{% endblock %}